<div class="container auth">

<form action="/auth/login" method="POST">
    <label for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email">
  
    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password">
  
    <input type="submit" value="Log In">
</form>
<a href="/auth/signup"><h4>Sign Up Here</h4></a>
</div>
<div class="container" id="blurb">
    <h2>Welcome to Pescador!</h2>
    <p>This is your one-stop fishing app. A journal, weather station, and stream monitor all in one place.</p>
    <p>Getting started is easy, just sign up and starting adding your favorite spots!</p>
</div>