<h2>Journal Entries</h2>
<div>
    <% trips.forEach(trip => { %>
     <div>
        <a href="/journal/<%= trip.id %> "><h4><%= trip.date.toLocaleDateString() %> <%= trip.stream.name %></h4></a>
     </div>
    <% }) %>
</div>
<a href="/journal/new"><button>New Trip</button></a>