<div class="main container">
    <h2>New Journal Entry</h2>
    <form action="/journal" method="POST">
        <label for="date">Date</label>
        <input type="date" name="date" id="date"><br>
        <label for="weather">Weather</label>
        <input type="text" name="weather" id="weather"><br>
        <label for="conditions">Conditions</label>
        <input type="text" name="conditions" id="conditions"><br>
        <label for="description">Description</label>
        <input type="text" name="description" id="description"><br>
        <input type="submit">
    </form>
</div>