body {
    text-align: center;
    color: white;
    background-color: rgb(200, 213, 185);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(52, 51, 48);
    padding: 5px;
}

a {
    color: rgb(104, 176, 171);
}

a:hover {
    color:rgb(143, 192, 169)
}

h1 {
    display: inline-block;
    font-family: 'Yellowtail', sans-serif;
    font-size: 2.5em;
    margin-top: 12px;
    color: rgb(104, 176, 171);
}

h2 {
    margin: 20px 0 20px 0;
    font-weight: 300;
    color:rgb(52, 51, 48);
}

h3 {
    margin: 25px 0 0 0;
    font-weight: 300;
    color:rgb(52, 51, 48);
}

h4 {
    margin-top: 5px;
}

h5 {
    color:rgb(52, 51, 48)
}

nav ul {
    margin-top: 15px;
    list-style-type: none;
    font-weight: 300;
}

nav ul li {
    padding: 0 5px 0 5px;
    display: inline;
}

button, input[type=submit] {
    background-color: rgb(104, 176, 171);
    padding: 10px;
    margin-top: 20px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
}

input {
    font-weight: 300;
}

i {
    font-size: 14pt;
    margin: 5px 3px 0 0;
    transform: translateY(-25%);
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 75px;
    background-color: rgb(104, 176, 171);
    font-weight: 300;
    color: rgb(52, 51, 48);
}

footer p {
    margin-top: 20px;
}
.auth {
    margin-top: 30px;
}

.cardHeader {
    width: 100%;
    padding: 5px 0;
    background-color: rgb(104, 176, 171);
    border-radius: 10px 10px 0 0;
}

.cardBodyBot {
    display: flex;
    justify-content: space-around;
    font-size: 10pt;
}

.cardBottom {
    display: inline-block;
}

.main {
    text-align: left;
}

.weatherDisplay {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card {
    color: rgb(52, 51, 48);
    width: 25%;
    margin:  5px;
    border-radius: 10px;
    background-color: white;
}

.lastTrip {
    margin-top: 60px;
}

.lastTripBody {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
    color:rgb(52, 51, 48);
    background-color: white;
    border-radius: 10px;
}

.fish {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
}

#profileInfo {
    margin-top: 25px;
    padding: 25px;
    background-color: white;
    color:rgb(52, 51, 48);
}

.fishLeft {
    width: 20%;
}

.fishCenter {
    width: 50%;
}

.fishRight {
    width: 20%;
}

.right {
    margin-top: 8px;
    width: 50%;
}

.right p {
    line-height: 14px;
}

.right p:nth-child(2) {
    font-weight: 300;
}

#fishDisplay {
    color: rgb(52, 51, 48);
    margin-top: 30px;
}

#fishDisplay p {
    font-weight: 300;
}

#showTripDelete {
    display: inline-block;
}

#deleteStream {
    display: inline-block;
}

#streamPosition {
    margin-top: 30px;
}