body {
    text-align: center;
    color: white;
    background-color: rgb(158, 172, 162);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: lightslategrey;
    padding: 10px;
}

a {
    color: white;
}

h1 {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 12px;
}

h4 {
    margin-top: 25px;
}

nav ul {
    margin-top: 15px;
    list-style-type: none;
    font-weight: 300;
}

nav ul li {
    padding: 0 5px 0 5px;
    display: inline;
}

.main {
    text-align: left;
}

.weatherDisplay {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.currentWeather, .forecast {
    width: 40%;
    padding: 20px;
    margin:  5px;
    border-radius: 10px;
    background-color: lightslategrey;
}


#fishDisplay {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

#showTripDelete {
    display: inline-block;
}